
#can2{
  	position:absolute;
  	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#can3{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#splash{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}
