*{
    font-family:'Courier';
}
#can2{
  	position:absolute;
  	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#can3{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#splash{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}
#leaderboard{
    font-size:20px;
    visibility:hidden;
    position:absolute;
    color:white;
    margin-top:70px;
    z-index:999999;
}
#text{
    font-size:30px;
    visibility:hidden;
    position:absolute;
    color:white;
    z-index:999999;
}
#dummy{
    margin-left:80%;
    margin-top:20%;
}
#dodec_text{
	position:absolute;
	font-size:70px;
	z-index:5;
}

#troph{
	z-index:5;
	position:absolute;
    visbility:hidden;
	
}
#hollow_dodec{
	z-index:5;
	position:absolute;
}
